* {
    font-family: sans-serif;
}

body {
    background: url(images/cv/background.jpg); /*Imports background image.*/
    background-size: cover; /*Makes the background image cover the entire page.*/
    width: 100%;
    height: 100%;
}
  
#head{
    padding: 10px; /*Gives the header a padding of 10px.*/
    width: 100%;
}

#head img{ /*Edits the image with in the header.*/
    height: 100px;
    width: 120px;
    border-radius: 20px;
    border: 2px solid rgb(0, 174, 255);
    padding: 2px;
    display: inline-block;
    vertical-align: middle;
}
  
#head h2{ /*Edits the heading with in the header.*/
    display: inline-block;
    font-size: 30px;
    margin-left: 30px;
    color: #fff;
}
  
.overview h1, .window1 h1, .window2 h1{ /*Edits the floating boxes headings.*/
    text-decoration: underline; /*Underlines the headings.*/
    color: cyan; /*Changes heading color.*/
}
  
.overview p, .window1 p, .window2 p { /*Gives floating boxes 1 and 2 paragraph tags left margin 20px.*/
    margin-left:20px;
}
  
.overview, .window1 {
    margin-top: 20px;
    width: 900px;
    float: left; /*Makes floating box 1 float left.*/    
}
  
.overview p, .window1 p {
    color: rgb(255, 255, 255); /*Changes floating box 1 paragraph color to white.*/
    font-size: 17px;
}
  
.window1 h2, .window2 h2 { /*Edits the h2 heading of both floating box 1 and 2.*/
    margin-left: 20px;
    font-size: 19px;
    text-decoration: underline;    
}
  
.window1 h2 { /*Edits color of floating box 1 h2.*/
    color: red;
}
  
.window1 ul{ /*Edits the unordered list of floating box 1.*/
    margin-left: 120px;
    font-weight: bold;
    color: rgb(218, 1, 1);
}
  
.window1 ul li ul{ /*Edits the unordered list which is a child to another unordered list in floating box 1.*/
    font-weight: bold;
    color: rgb(109, 1, 1);
}
  
footer, .window2 { /*Edits floating box 2.*/
    margin-top: 20px;
    margin-right: 40px;
    border: 1px solid rgb(0, 174, 255);
    border-radius: 20px;
    padding: 5px;   
    float: right;
}
  
footer h1, .window2 h1 { /*Edits the h1 heading of floating box 2.*/
    color: blue;
    margin-right: 50px;
}
  
footer p, .window2 p{ /*Edits the paragraph of floating box 2.*/
    color: rgb(0, 0, 14);
    font-weight: bold;
    font-size: 17px;
}
  
.window2 h2, ol { /*Edits the color of the ordered list of floating box 2.*/
    color: red;
}
  
.window2 ol { /*Gives the margin left 10px of the ordered list of floating box 2.*/
    margin-left: 10px;
}

.contact, .contactDisplay {
    width: 150px;
    height: 96px;
    margin-left: 5%;
    margin-bottom: 5%;
    position: relative;
}

.contact img, .contactDisplay img {
    position: relative;
    border: 1px solid blue;
    padding: 5px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    float: left;
}

.contact p, .contactDisplay p {
    position: relative;
    color: rgb(0, 217, 255);
    line-height: 10%;
    margin-left: 10px;
    float: left;
}

footer {
    display: none;
    float: left;
    margin-top: 20%;
    margin-left: 5%;
    margin-right: 5%;
    border: none;
    border-top: 1px solid rgb(0, 174, 255);    
    width: 200%;
    background-color: rgba(0, 162, 255, 0.096);
}

@media only screen and (max-width : 425px) and (min-width: 376px) {
    body {
        background-size: cover;
    }

    h1 {
        font-size: 50px;
    }

    #head img{ /*Edits the image with in the header.*/
        height: 90px;
        width: 100px;
    }
        
    #head h2 {
        margin-left: 1%;
        color: rgb(0, 255, 255);
    }

    .overview p, .window1 p, .window1 h2, .window1 ul {
        font-size: 25px;  
    }

    .window2 {
        display: none;
    }

    .contact {
        float: left;
        margin-top: 2%;
        margin-bottom: 2%;
        margin-left: 10%;
    }

    .contact img {
        width: 60px;
        height: 60px;
        margin-left: 29%;
        float: none;
    }
    
    .contact p {
        color: rgb(0, 217, 255);
        line-height: 0%;
        font-size: 30px;
        text-align: center;
        float: none;
    }

    footer {
        display: block;
        height: 150px;
        width: 205.5%;
        margin-left: 1%;
        margin-right: 1%;
    }
}

@media only screen and (max-width : 375px) and (min-width: 321px) {
    body {
        background-size: cover;
    }

    h1 {
        font-size: 60px;
    }

    #head {
        margin: 0;
        width: 219%;
    }

    #head img{ /*Edits the image with in the header.*/
        height: 150px;
        width: 170px;
    }
        
    #head h2{
        margin-left: 25px;
        font-size: 50px;
        color: rgb(0, 255, 255);
    }

    .overview, .window1 {
        font-size: 30px;  
        width: 800px;
    }

    .overview p, .window1 h2, .window1 p, .window1 u {
        font-size: 30px;
    }

    .window2 {
        display: none;
    }

    footer {
        display: block;
    }

    .contact {
        float: left;
        margin-top: 2%;
        margin-bottom: 2%;
        margin-left: 10%;
    }

    .contact img {
        width: 80px;
        height: 80px;
        margin-left: 25%;
        float: none;
    }
    
    .contact p {
        color: rgb(0, 217, 255);
        line-height: 0%;
        font-size: 30px;
        text-align: center;
        float: none;
    }

    footer {
        height: 150px;
        width: 233%;
        margin-left: 1%;
        margin-right: 1%;
    }
}

@media only screen and (max-width : 320px) and (min-width: 0px) {
    body {
        background-size: cover;
        width: 95%;
    }

    h1 {
        font-size: 60px;
    }

    #head {
        margin: 0;
        width: 250%;
    }

    #head img{ /*Edits the image with in the header.*/
        height: 150px;
        width: 170px;
    }
        
    #head h2{
        margin-left: 25px;
        font-size: 50px;
        color: rgb(0, 255, 255);
    }

    .overview {
        margin-top: 15%;
        width: 200%;  
    }

    .overview p, .window1, .window2 {
        font-size: 30px;  
    }

    .window1 {
        width: 800px;
    }

    .window1 h2, .window1 p {
        font-size: 30px;
    }

    .window2 {
        display: none;
    }

    footer {
        display: block;
    }

    .contact {
        float: left;
        margin-top: 2%;
        margin-bottom: 2%;
        margin-left: 10%;
    }

    .contact img {
        width: 80px;
        height: 80px;
        margin-left: 25%;
        float: none;
    }
    
    .contact p {
        color: rgb(0, 217, 255);
        line-height: 0%;
        font-size: 30px;
        text-align: center;
        float: none;
    }

    footer {
        height: 150px;
        width: 255%;
        margin-left: 1%;
        margin-right: 1%;
    }
}